name: Namaz Vakitleri Guncelle
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Veri Cek ve Firebase Bas
        run: |
          # MuslimSalat API üzerinden Ankara verisini çekiyoruz
          curl -s "https://muslimsalat.com/ankara/daily.json" > namaz.json
          
          # Firebase'e gönderiyoruz
          curl -X PUT -d @namaz.json "https://piyasa-9049c-default-rtdb.firebaseio.com/namaz.json"
