name: Namaz Vakitleri Guncelle
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Veri Cek ve Gonder
        run: |
          # Vakit verisini al ve Firebase'e bas
          curl -s "https://vakit.me/api/v1/vakityer?yer=13009" > data.json
          curl -X PUT -d @data.json "https://piyasa-9049c-default-rtdb.firebaseio.com/namaz.json"
